<!-- templates/footer.html -->
 <!-- Footer Template -->
  
<div class="footer">
    <div class="social-links">
        <a href="https://facebook.com/the1meetingplaceonly" target="_blank">
            <img src="{{ url_for('static', filename='Pics-Vids/facebook-logo.png') }}" alt="Facebook">
        </a>
        <a href="https://instagram.com/wecanfindyou.world/" target="_blank">
            <img src="{{ url_for('static', filename='Pics-Vids/instagram-logo.png') }}" alt="Instagram">
        </a>
        <a href="https://x.com/billperry11" target="_blank">
            <img src="{{ url_for('static', filename='Pics-Vids/x-logo.png') }}" alt="X">
        </a>
    </div>
    <p>DISCLAIMER - We Can Find You World @ The One Meeting Place Only 1 LLC provides services solely for the purpose of reuniting legally aged adults. 
    These services are intended exclusively for individuals who are at least 18 years old and searching for other legally aged adults. 
    Misuse of our services is strictly prohibited and may constitute an illegal act. 
    We do not condone such misuse and shall not be held liable. 
    By accessing our website, you agree to use our services responsibly and in compliance with all applicable laws.</p>
    <p>&copy; 2024 WE CAN FIND YOU WORLD @ The One Meeting Place Only 1 - All Rights Reserved.</p>
</div>
