/* desktop.css */

body {
    margin: 20px;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: #121212;
    color: #e3d0ca;
}

/* Link colors */
a {
    color: #d1a7a1; 
    text-decoration: underline; 
    font-weight: bold; 
}

/* Change color when hovered */
a:hover {
    color: #f2b8b1; 
    text-decoration: none;
}

/* Change color once clicked (visited) */
a:visited {
    color: #a3a3a3; 
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 10px 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    position: relative;
}

.navbar a:hover {
    color: #e3d0ca;
}

.navbar a.active {
    border-bottom: 2px solid white;
}

/* Center the image inside the container */
.container {
    text-align: center;
}

/* Style and resize the GIF */
.logo {
    width: 75%; 
    max-width: 1000px; /* Optional: Limit the size */
    height: auto; /* Maintain aspect ratio */
}

.footer {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #121212;
    color: #e3d0ca;
}

.footer .social-links a {
    text-decoration: none;
}

.footer .social-links img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    vertical-align: middle;
    border: none;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}

p {
    color: #e3d0ca;
}

.video-container {
    text-align: center;
    margin-top: 20px;
}

.video-container video {
    width: 75%;
    height: auto;
}

.video-container .caption {
    margin-top: 10px;
    font-size: 24px;
    color: white;
}

.circle-image {
    display: block;
    margin: 20px auto;
    border-radius: 75%;
    overflow: hidden;
    width: 835px;
    height: 835px;
}

.circle-image img {
    width: 100%;
    height: 100%;
}

.side-by-side-videos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.side-by-side-videos .video {
    text-align: center;
    flex: 1;
    margin: 0 10px;
}

.side-by-side-videos video {
    width: 80%;
    height: auto;
}

.side-by-side-videos .caption {
    margin-top: 10px;
    font-size: 24px;
    color: white;
}

.side-by-side-images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.side-by-side-images .image {
    text-align: center;
    flex: 1;
    margin: 0 10px;
}

.side-by-side-images img {
    width: 80%;
    height: auto;
}

.side-by-side-images .caption {
    margin-top: 10px;
    font-size: 24px;
    color: white;
}

.cause-container {
    display: flex;
    background-color: white;
    height: auto;
    width: 100%;
}

.left-side {
    flex: 0 0 50%; 
}

.left-side img {
    width: 100%; 
    height: auto; 
    display: block; 
}

.right-side {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding: 20px;
}

.right-side h1 {
    margin-bottom: 10px;
    color: black;
}

.right-side p {
    margin: 5px 0;
    color: black;
}    

.banner {
    background-image: url('/Pics-Vids/ambassador-banner.png'); 
    background-size: cover; 
    background-position: center; 
    height: 300px; 
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center; 
    color: white; 
    text-align: center; 
    padding: 0 20px;
}

.banner h1 {
    font-size: 36px;
    margin: 0;
}   

.contact-us {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}

.contact-form, .contact-info {
    width: 45%;
    margin: 10px;
}

.contact-form h2 {
    margin-bottom: 20px;
}

.contact-form label {
    color: #a3a3a3; 
    display: block;
    margin-bottom: 5px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 2px solid #000; 
    border-radius: 4px;
    background-color: #000;
    color: #e3d0ca;
    font-size: 16px;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border-color: #e3d0ca; 
}

.contact-form textarea {
    height: 150px;
}

.contact-form button {
    width: 100%;
    padding: 14px;
    background-color: #d5a7a1;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #b5867b; 
}

.contact-form .file-info {
    display: inline-block;
    margin-top: 8px;
    font-size: 14px;
    color: #e3d0ca;
}

.contact-form .file-info p {
    display: inline-block;
    margin-left: 10px;
}

.contact-info h2 {
    color: white;
    font-size: 20px;
    text-align: left;
    line-height: 1.6;
}

#file-count {
    font-size: 14px;
    color: white;
    display: inline-block;
    margin-left: 10px;
}

/* Adds responsiveness to contact form*/
@media (max-width: 768px) {
    .contact-form, .contact-info {
        width: 100%;
    }
}  

.contact-info {
    padding-left: 50px;
}

.center-image {
    text-align: center;
    margin: 40px 0;
}

.center-image img {
    width: 100%;
    max-width: 900px;
    height: auto;
}
