<!-- templates/navbar.html -->
<!-- Navbar Template -->
<nav class="navbar">
  <div class="nav-left">
    <a href="{{ url_for('home') }}" class="{% if active_page == 'home' %}active{% endif %}">HOME</a>
    <a href="{{ url_for('why') }}" class="{% if request.path == '/why' %}active{% endif %}">WHY USE US</a>
    <a href="{{ url_for('approach') }}" class="{% if request.path == '/approach' %}active{% endif %}">OUR APPROACH</a>
    <a href="{{ url_for('testimonials') }}" class="{% if request.path == '/testimonials' %}active{% endif %}">TESTIMONIALS</a>
    <a href="{{ url_for('cause') }}" class="{% if request.path == '/cause' %}active{% endif %}">HELP OUR CAUSE</a>
    <a href="{{ url_for('contact') }}" class="{% if request.path == '/contact' %}active{% endif %}">CONTACT</a>
<!--<a href="{{ url_for('privacy') }}" class="{% if active_page == 'privacy' %}active{% endif %}">PRIVACY POLICY</a>
    <a href="{{ url_for('terms') }}" class="{% if active_page == 'terms' %}active{% endif %}">TERMS AND CONDITIONS</a>-->
    <a href="{{ url_for('signup_step1') }}" class="{% if active_page == 'signup' %}active{% endif %}">SIGN UP</a>
  </div>
  <div class="nav-right">
    <button id="theme-toggle" class="theme-toggle-button">Light Mode</button>
  </div>
</nav>