{% extends 'base.html' %}
{% block title %}Our Approach{% endblock %}
{% block content %}
<center><h2>Our Approach</h2></center>
<center>
  <p>Our team consists of highly trained and experienced individuals who are dedicated to providing our clients with the highest level of service and professionalism. With over 10 plus years of experience, we specialize in connecting families with each other no matter where they are located all from one place.</p>
  <br>
  <p>We believe in a personalized approach to each case, taking the time to understand our clients' unique needs and concerns before developing a tailored strategy.</p>
</center>

<div class="circle-image">
    <img src="{{ url_for('static', filename='Pics-Vids/pen-image.png') }}" alt="Circular Image">
</div>
{% endblock %}
